[
  {
    "errorCode":"0001",
    "errorDesc":"Application OS not supported"
  },
  {
    "errorCode":"0002",
    "errorDesc":"Application version is outdated, Kindly update the app and continue"
  },
  {
    "errorCode":"0100",
    "errorDesc":"Error in connection database"
  },
  {
    "errorCode":"0101",
    "errorDesc":"User already available"
  },
  {
    "errorCode":"0102",
    "errorDesc":"User not available"
  },
  {
    "errorCode":"0103",
    "errorDesc":"DB Fetch Request Failed"
  }
]
