[
  {
    "errorCode":"0001",
    "errorDesc":"Application OS not supported"
  },
  {
    "errorCode":"0002",
    "errorDesc":"Application version is outdated, Kindly update the app and continue"
  },
  {
    "errorCode":"0100",
    "errorDesc":"Error in connection database"
  },
  {
    "errorCode":"0101",
    "errorDesc":"User already exist"
  },
  {
    "errorCode":"0102",
    "errorDesc":"User not available"
  },
  {
    "errorCode":"0103",
    "errorDesc":"DB Fetch Request Failed"
  },
  {
    "errorCode":"0104",
    "errorDesc":"Failed to Register",
    "TechReason" : "DB Fetch faild for validate username()"
  },
  {
    "errorCode":"0105",
    "errorDesc":"Failed to Register",
    "TechReason" : "DB Insert new user failed"
  },
  {
    "errorCode":"0106",
    "errorDesc":"Password Mismatch"
  },
  {
    "errorCode":"0107",
    "errorDesc":"Failed to Login",
    "TechReason" : "DB Fetch mobileNo and password"
  },
  {
    "errorCode":"0108",
    "errorDesc":"Failed to Login",
    "TechReason" : "DB Failed to update lastLogin"
  },
  {
    "errorCode":"0109",
    "errorDesc":"",
    "TechReason" : ""
  },
  {
    "errorCode":"0110",
    "errorDesc":"",
    "TechReason" : ""
  },
  {
    "errorCode":"0111",
    "errorDesc":"Failed to post Borrow/Lend Request",
    "TechReason" : "DB Failed to insert insertBorrowRequest()"
  },
  {
    "errorCode":"0112",
    "errorDesc":"Failed to post Borrow/Lend Request",
    "TechReason" : "DB Failed to fetchUserInfo()"
  },
  {
    "errorCode":"0112",
    "errorDesc":"Failed to post Borrow/Lend Request",
    "TechReason" : "DB Failed to fetchlocationInfo()"
  },
  {
    "errorCode":"0113",
    "errorDesc":"Failed to post Borrow/Lend Request",
    "TechReason" : "Location not available for fetchlocationInfo()"
  },
  {
    "errorCode":"0114",
    "errorDesc":"Failed to post Borrow/Lend Request",
    "TechReason" : "failed to fetch fetchNearbyUsers()"
  },
  {
    "errorCode":"0115",
    "errorDesc":"No nearby users, Kindly increase radius to get chance"
  }
]
